<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            {% for note in notes %}
            <li>
                {{note}} <small> <a href="{{note.get_delete_url}}">Delete</a></small>
                <small> <a href="{{note.get_update_url}}">Update</a></small>
            </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>