<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Text-Utils Website</title>
</head>
<body>
    <h1>welcome to text-utils.Enter your Text Below:</h1>
    <form action="analyzer" method="get">
        <textarea name="text" id="" style="margin: 0px; width: 1400px; height: 48px;"></textarea>
        <br>
        <input type="checkbox" name="check" id="">remove Punc
        <br>
        <input type="checkbox" name="caps" id="">UPPERCASE
        <br>
        <input type="checkbox" name="rmvnwline" id="">Remove new lines
        <br>
        <input type="checkbox" name="spaceremove" id="">Remove extra space
        <br>
        <input type="checkbox" name="chcount" id="">Count character
        
        <input type="submit" value="Analyze">
    </form>
</body>
</html>