

    {% extends "posts/base.html" %}
    {% load urlify %}
    {% block head_title %}
    {{details.title}}|{{block.super}}
    {% endblock head_title %}
    {% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <h2>
            {{message}}
        </h2>
        {% endfor %}
        <div class="thumbnail">
                {% if details.photo %}
                <img src="{{details.photo.url}}" alt="...">
                {% endif %}
        </div>
        {{details.content|urlify|truncatechars:20}}
    <h1> {{details.title}} <small>{{details.timestamp}}</small> </h1><br>
    {% if details.user %}
    <p>Author: {{details.user}}</p>
    {% endif %}
    {{shared_string}}
    {{request.build_absolute_uri}} <br>
    {{details.photo.url}}

    <a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>Share on Google+</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">
        Share on Linkedin
        </a>
        <a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/"><img src="{{ details.photo.url }}" /></a>

        <a href="https://www.facebook.com/sharer/sharer.php?href={{request.build_absolute_uri}}">
            Share on Facebook
            </a>
    {{details.content|linebreaks}} <br>

    <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-width="" data-numposts="5"></div>
    
    </div>

    {% endblock %}
    

